body {
    background-color: #0A7302; /* Light blue background */
}

.container {
    background-color: #F2FFF6; /* White container background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 30px;
    margin-top: 10px; /* Add some space from the top */
    margin-bottom: 50px; /* Add some space from the bottom */
    border: 5px solid #0fb00c; /* Optional: border color matching the logo */
}


h1 {
    color: #0A7302; /* Blue title color */
}

.btn-danger {
    font-weight: bold; /* Bold text */
}

.btn-primary {
    background-color: #0A7302; /* Blue button background color */
    border-color: #0A7302; /* Blue button border color */
    font-weight: bold; /* Bold text */
}

.btn-primary:hover {
    background-color: #0c5700; /* Darker blue on hover */
    border-color: #0c5700; /* Darker blue border on hover */
}
.btn-primary:disabled {
    background-color: #8d8d8d; /* Darker blue on hover */
    border-color: #8d8d8d; /* Darker blue border on hover */
}

.btn-primary:active{
    background-color: #094200 !important; /* Darker blue on hover */
    border-color: #094200 !important; /* Darker blue border on hover */
}

.btn-primary:focus{
    background-color: #094201 !important; /* Darker blue on hover */
    border-color: #094200 !important; /* Darker blue border on hover */
}

.btn-primary:focus {
    background-color: #094201 !important;  /* Your desired background color for focus */
    border-color: #094200 !important;      /* Your desired border color for focus */
    outline: none;                         /* Optional: removes the outline */
    box-shadow: none;                      /* Optional: removes the box-shadow if any */
}


.btn-link {
    color: #007bff; /* Blue link color */
}

.btn-link:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #0056b3; /* Darker blue on hover */
}

.alert {
    margin-top: 20px; /* Add space between alerts and form */
}

.logo-container {
    background-color: #F2FFF6; /* White container background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Reduced height for tighter vertical fit */
    width: fit-content; /* Adjust width to fit content */
    margin: 20px auto; /* Centering in the viewport with some margin */
    padding: 5px; /* Reduced padding for less space above and below the text */
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
    border: 5px solid #0fb00c; /* Optional: border color matching the logo */
}
/* custom.css */
.custom-navbar {
    background-color: #F2FFF6; /* Change this to your desired background color */
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


.logo-text {
    font-family: 'Arial', sans-serif; /* Or any other preferred font */
    font-size: 50px; /* Size of the logo text */
    font-weight: bold; /* Make it bold */
    color: #072600; /* Base blue color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */
    letter-spacing: 2px; /* Space between letters */
}

.centered-text {
    text-align: center;
  }

  /* Increase z-index for Select2 dropdown inside modals */
.select2-container--open {
    z-index: 1100 !important; /* Set z-index higher than that of Bootstrap modal */
}

.logo-container a {
    text-decoration: none; /* Remove underline */
}


.select2-dropdown {
    z-index: 1051;  /* Bootstrap modal backdrop is usually less than 1050 */
}



table .highlight-column {
    background-color: #7cff9a;
}
.athlete-section:not(:last-child) {
    margin-bottom: 2rem;
}
        /* Estilo adicional para negrita en el encabezado 'Tiempo' */
.bold-header {
    font-weight: bold;
}


/*Paginator Colors*/
/* Custom pagination styles */
.pagination .page-link {
    color: #333; /* Change to your desired color for pagination links */
    background-color: #f8f9fa; /* Change to your desired background color */
    border: 1px solid #0A7302; /* Change to your desired border color */
}

.pagination .page-item.active .page-link {
    color: #fff; /* Change to your desired active text color */
    background-color: #0A7302; /* Change to your desired active background color */
    border-color: #0A7302; /* Change to your desired active border color */
}

.pagination .page-link:hover {
    color: #0A9909; /* Change to your desired hover color */
}

/* Resalta el como se ven las opciones del navegation bar */
.navbar-nav .nav-link {
    color: #000; /* Default text color */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #ffffff; /* Brighter color on hover */
    background-color: #0A7302; /* Optional: add a background color */
    text-decoration: none; /* Remove underline */
}

/* Adding a subtle text shadow can also help make text pop out more */
.navbar-nav .nav-link:hover {
    text-shadow: 0 0 10px rgb(195, 255, 193); /* White glow for dark backgrounds */
}
.nav-link {
    display: block;
    padding: 10px 20px; /* Adjust padding to provide more space around the text */
    border-radius: 5px; /* Rounded corners for the background */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and text color */
}

.nav-link:hover, .nav-link:focus {
    background-color: #004d40; /* Slightly different shade for the hover state */
    color: #ffffff; /* Ensure text color is also contrasting */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: subtle shadow */
}


colors{

    /* Primary: Lush Plains */
    --primary-100: #F2FFF6;
    --primary-200: #BEFECC;
    --primary-300: #87F799;
    --primary-400: #4EE45E;
    --primary-500: #1BBF23;
    --primary-600: #0A9909;
    --primary-700: #0A7302;
    --primary-800: #0A4D00;
    --primary-900: #072600;

    /* Accent: Blue Ruin */
    --accent-100: #F2F5FF;
    --accent-200: #B8CCFE;
    --accent-300: #7DA7FB;
    --accent-400: #4287F1;
    --accent-500: #0B6ADE;
    --accent-600: #045BB0;
    --accent-700: #014A82;
    --accent-800: #003554;
    --accent-900: #001A26;

    /* Neutral */
    --neutral-100: #FAFCFB;
    --neutral-200: #E7EDE9;
    --neutral-300: #D5DDD6;
    --neutral-400: #C3CDC4;
    --neutral-500: #B1BDB2;
    --neutral-600: #8D978D;
    --neutral-700: #697168;
    --neutral-800: #464C45;
    --neutral-900: #232622;

}

/*Small input files for Registration edit (calendar)*/
.small-input {
    width: 80px; /* Smaller input width */
}

/*For smaller hr*/
hr.short-hr {
    width: 75%; /* Adjust width as needed */
    margin: 10px auto; /* Center the hr */
    height: 0px; /* Adjust thickness */
    background-color: black; /* Set the color of the hr */
    border: none;
}

.alert-info {
    background-color: #fe6473 !important; /* Bootstrap's danger color for example */
    color: white !important; /* Ensuring text is white for better readability */
    border-color: #fe6473 !important; /* Matching border color */
    font-weight: bold;
    /* width: 50%;
    height: 50%; */
}

/*Fixes Validation not showing when page is long*/
:root {
    scroll-behavior: auto !important;
  }


